<%- include("./layout/header") %> 
<h1 class="my-4 text-center">Posts</h1>

<% posts.forEach(post => { %>
<div class="row d-flex justify-content-center">
  
  <div class="col-lg-10">  <!-- Card -->
<div class="card my-2">

    <div class="card-header">
        <h4 class="card-title"><a href="/post/<%= post._id %> "><%= post.title %></a> </h4>
        <small class="text-muted">Posted by <%= post.author.username %> on <%= post.date %> </small>
    </div>
    <div class="card-body">
        <form action="/post/<%= post._id %>/like" method="POST" class="float-right like-form">
            <input type="hidden" name="postId" value="<%= post._id %>">
            <%= post.likes.length %> 
            <button class="btn btn-link p-1">
                <% if (user && post.likes.indexOf(user._id) !== -1) { %>
                    <i class="fas fa-thumbs-up" style="font-size: 18px;"></i>
                <% } else { %> 
                    <i class="far fa-thumbs-up" style="font-size: 18px;"></i>
                <% } %> 
                
            </button>
        </form>
        <!-- Text -->
        <p class="card-text"><%= post.description %> </p>
        <!-- Button -->
        <small><a href="/post/<%= post._id %> ">Read More</a></small>

    </div>
</div>
<!-- Card -->
</div>
</div>
<% }) %> 


<%- include("./layout/footer") %> 